.first{
    width: 1000px;
    height: 100px;
  
background:#000000 0% 0% no-repeat padding-box;
opacity: .6;
}
.parent{
    width: 1000px;
    height: 1000px;
    color: black;
  
background: #000000 0% 0% no-repeat padding-box;
opacity: .6;
}
h1{
    color: #424242;
}