.first{
    width: 1000px;
    height: 100px;
    z-index: -1;
  
    background:#e9e5e5 0% 0% no-repeat padding-box;
opacity: .8;
}
.parent{
    width: 1000px;
    height: 1000px;
    color: black;
  
background: #f9f6f6 0% 0% no-repeat padding-box;
opacity: .6;
z-index: -9;
}
h1{
    color: #4b4444;
}
.fbox{
    z-index: -10;
    filter: blur(1px);
    background:#f7f5f5 0% 0% no-repeat padding-box;
    opacity: .2;
}